<launch>
  <arg name="gzworld" default="$(find osrf_gear)/worlds/ariac.world"/>
  <arg name="extra_gazebo_args" default="--verbose"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)" />
    <arg name="world_name" value="$(arg gzworld)" />
  </include>

  <node name="spawn_gripper" pkg="gazebo_ros" type="spawn_model"
    args="-file $(find osrf_gear)/models/simple_arm_vacuum_gripper/model.sdf -sdf
    -model simple_arm_vacuum_gripper -x 1.6 -y 0 -z 1"/>
</launch>
