<launch>
  <arg name="gzworld" default="$(find osrf_gear)/worlds/scoring_test.world"/>
  <arg name="extra_gazebo_args" default="--verbose"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)" />
    <arg name="world_name" value="$(arg gzworld)" />
  </include>

  <node name="gear_example_node" pkg="gear_example" type="gear_example_node"
        respawn="false" output="screen"/>
</launch>
